<div class="footer">
  <div class="row">
    <div class="col-2">
      <a id="linkedin" href="https://www.linkedin.com/in/dhawal-patel-4095">
        <img src='./../../../assets/linkedin.png' class="icons" matTooltip="LinkedIn">
      </a>
      <a id="resume" href="./../../../assets/DhawalPatel | Resume.pdf" download>
        <img src='./../../../assets/resume.png' class="icons" matTooltip="Resume">
      </a>
      <a id="mail" href="mailto:pateldhawal4@gmail.com?Subject=Portfolio%20Query" target="_top">
        <img src='./../../../assets/mail.png' class="icons" matTooltip="Mail">
      </a>
    </div>
    <div class="col-3">
    </div>
    <div class="col-3">
      <h5 class="author">Made with <mat-icon color="warn">favorite</mat-icon> by Dhawal Patel</h5>
    </div>
  </div>
</div>
