<div class="home">
    <div class="homeContent align-middle">
        <div class="title">
            <h1>Things done right.</h1>
        </div>
        <div class="content">
                There is just one more thing we need to do. Your body element will often contain more content than can be displayed in one 
                screen of your browser. In such cases, you will want a scrollbar to appear and not have your body element's size fixed to
                whatever initial size your browser was. There is an easy fix to address this valid concern
        </div>
        <div class="buttons">
            <div class="row">
                <div class="col-3">
                    <button class="needWebsite" mat-raised-button>I need a website <i class="material-icons"> keyboard_arrow_right </i></button>
                </div>
                <div class="col-3">
                    <button class="needHire" mat-raised-button>I'm looking to hire<i class="material-icons"> keyboard_arrow_right </i></button>
                </div>
            </div>
        </div>
    </div>
</div>