<div class="home">
  <div class="title">
    <h1>Websites done right.</h1>
  </div>
  <div class="content">
    Hello! My name is Dhawal Patel, and I'm a India(Pune) based Web Front End Developer. If I am not working at an IT
    company, I'm
    working on my own projects.
    I have a diverse set of skills ranging from HTML + CSS + Javascript, along with extensive use of front end framework
    like Angular.
    Have worked on backend using Nodejs and Python.

  </div>
  <div class="buttons">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <a id="linkedin" href="/contact">
          <button class="needWebsite" mat-raised-button>I need a website <i class="material-icons"> keyboard_arrow_right
            </i></button>
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a id="linkedin" href="/contact">
          <button class="needHire" mat-raised-button>I'm looking to hire<i class="material-icons"> keyboard_arrow_right
            </i></button>
        </a>
      </div>
    </div>
  </div>
</div>
