.home{
    padding: 5% 0;
    .title{
        padding: 20px 0;
        h1{
            font-weight: 900;
            font-size: 50px;
        }
    }
    .content{
        padding: 15px 0;
    }
    .buttons{
        padding: 15px 0;
        .needWebsite{
            height: 3em;
            width: 90%;
            background: #26A69A;
            color: azure;
        }
        .needHire{
            height: 3em;
            width: 90%;
            background-color: rgba(202, 152, 152, 0.1);
            color: azure;
        }
    }
}