<div class="projects">
    <div class="title">
        <h1>My Projects.</h1>
      </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="content">
          To the right is a project I can showcase (many more to come). 
          <br>
          There are many other projects I can talk about but can't put up here
          as I took those up for private companies.
          <br>
          For you might want to look into my resume <a href="/contact">here</a>.
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="card-medium">
        <div class="card-image waves-effect waves-block waves-light" [ngClass]="{'blurify': anyButtonClicked() }">
          <img alt="Screenshot of Interpol8r web app" src="./../../../assets/recorderapp.png" height="100%" width="100%"
            class="activator">
        </div>
        <div class="card-content" [ngClass]="{'blurify': anyButtonClicked() }">
          <span class="card-title activator teal-text hoverline">Aureal<i class="material-icons right"
              (click)="toggleTab()">more_vert</i></span>
          <p>
            Experimental web app to record podcasts
          </p>
        </div>
        <div class="card-reveal" [ngClass]="{'uncollapse': anyButtonClicked() }">
          <span class="card-title teal-text">Accomplishments<i class="material-icons right"
              (click)="toggleTab()">clear</i></span>
          <ul>
            <li><strong>Angular 7</strong></li>
            <li>Used<strong> Webrtc </strong> for Audio </li>
            <li>Minimalisatic backend in <strong>Node</strong></li>
            <li><strong>A lot is still WIP</strong></li>

          </ul>
          <div class="card-action text-center">
            <a matTooltip="View Online" aria-label="Visit Interpol8r web app" href="https://thewall-podcaster.herokuapp.com/" target="_blank"
              data-position="top" data-tooltip="View Online"
              class="btn-floating btn-large waves-effect waves-light brown tooltipped"><i
                class="material-icons">desktop_windows</i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
