.topbar{
    padding: 40px 0;
    .namenlogo{
        .name{
            font-family: 'Grenze', serif;
            text-transform: uppercase;
            font-weight: bold;
        }
        .title{
            font-family: 'Grenze', serif;
            font-weight: 100;
        }
    }
    .tabs{
        .menuitem{
            a{
                color: inherit;
                text-decoration: none;
                padding: 15px;
            }
            &.active{
                border-bottom: 5px solid #26A69A;
            }
        }
    }
}